# Godot 4.0+ specific ignores:
.godot/
/android/
*.translation

leaderboard-web-server/node_modules
leaderboard-web-server/generated

# C sharp:
nupkg/
bin/
obj/
.generated/

# VSCode:
.vs/

# Mac OS:
.DS_Store

# Blender:
*.blend1
